*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive,roboto;
}
.container
{
    background-color: cadetblue;
    display: flex;
    padding: 3%;
    text-align: center;
    height: 100vh;
}
.row
{
    margin: auto;
}
.container h2
{
    color: white;
}
.container p
{
    color: white;
    font-size: 27px;
}
.btnsec
{
    padding: 2%;
    margin: 5%;
}
.btnsec button
{
    background-color: crimson;
    color: white;
    border: none;
    padding: 3% 5%;
    font-size: 15px;
    transition: .5s;
}
.btnsec button:hover{
    background-color: darkslateblue;
}
.disable
{
    background-color: darkslateblue;
}

#resume
{
    display: none;
}
p span{
    padding: 2%;
}
p:nth-child(2){
    margin-top: 1%;
}
